h1{
	color: blue;
}
p{
	font-style: italic;
	color: grey;
}
table,td,th{
	border : 1px solid ;
	border-collapse: collapse;
	background-color: #B0F2B6;
	font-weight: bold;
	text-align: center;
}
h5,h6{
	text-align: center;
}
div{
	border-bottom: 2px solid blue;
}